<web-app>
    <servlet>
        <servlet-name>UmumeREST</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>se.umu.cs.umume.rest.resources</param-value>
        </init-param>
    </servlet>
    
    <!-- Catch all requests -->
   <servlet-mapping>
      <servlet-name>UmumeREST</servlet-name>
      <url-pattern>/*</url-pattern>
   </servlet-mapping>
</web-app>